ul.pagination, ul.list {
	list-style: none;
    padding: 0;
}

ul.list li {
    padding-bottom: 10px;
}

.category {
    padding-top: 5px;
}

ul.pagination li {
    float: left;
    background-color: cornflowerblue;
    margin-right: 3px;
    border-radius: 5px;
}

ul.pagination li a {
	color: white;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    display:block;
}

.category ul {
    list-style-type: none;
    padding: 0;
}

.category ul li {
    display: inline-block;
    zoom: 1;
    background-color: cornflowerblue;
    padding: 0px 5px 0px 5px;
    color: white;
    border-radius: 5px;
    *display:inline;
}

.category ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    display:block;
}

.filter_agenda .list ul {
	list-style: none;
}

.filter_agenda .list li {
	
}

.filter_agenda select, .filter_agenda input, .filter_agenda button{
    height:30px;
}

.no-result{
    background-color: orangered;
    padding: 6px 9px;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
}