{% extends  "bs3__filters.html.twig" %}

{% block list %}
  <ul class="list">
  {% for key, item in list %}
  	<li>
  		<div class="date">{{ item.date }}</div>
        <div class="category">{{ item.category }}</div>
	  	<div class="title">{{ item.title }}</div>
	  	<div class="body">{{ item.body }}</div>
  	</li>
  {% endfor %}
  </ul>
{% endblock %}