{% extends  "bs3__base.html.twig" %}
 
{% block filters %}
	{% for key, filter in filters %}
		{% if filter.type == 'search' %}
			<input class="search" placeholder="Search" />
		{% endif %}
	{% endfor %}
{% endblock %}