<div class="filter_agenda" id="{{ list_id }}">

	{% block filters %}
	{% endblock %}

	{% block list %}
	{% endblock %}

	{% block noresult %}
	{% endblock %}

	{% block paginator %}
	{% endblock %}

</div>