{% extends  "simple__base.html.twig" %}

{% block filters %}
	{% for key, filter in filters %}
		{% if filter == 'search' %}
			<input class="{{ key }}" placeholder="Search" />
		{% endif %}
        {% if filter == 'tag' %}
            <select class="{{ key }}">
                <option selected value="any">Any</option>
                {% for category_filter_id, category_filter in list['category_filter'] %}
                    <option value="{{ category_filter }}">{{ category_filter }}</option>
                {% endfor %}
            </select>
        {% endif %}
        {% if filter == 'date' %}
            <select class="{{ key }}">
                <option selected value="any">Any</option>
                {% for date_filter_id, date_filter in list['date_filter'] %}
                    <option value="{{ date_filter }}">{{ date_filter|date(format='F  Y') }}</option>
                {% endfor %}
            </select>
        {% endif %}
	{% endfor %}
    <button class="clear">Clear</button>
{% endblock %}