{% extends  "simple__filters.html.twig" %}

{% block list %}
  <ul class="list">
  {% for key, item in list['list'] %}
  	<li class="list--list-item">
      
	  	<h3 class="title">{{ item.title }}</h3>
      <div class="date">{{ item.start|date(format='j F Y') }} to {{ item.end|date(format='j F Y') }}</div>
	  	<div class="body">{{ item.body }}</div>

      <div class="category">
        <ul>
          {% for category_id, category in item.categories %}
            <li><a href="/taxonomy/term/{{ category_id }}">{{ category }}</a></li>
          {% endfor %}
        </ul>
      </div>
  	</li>
  {% endfor %}
  </ul>
{% endblock %}